.HomePageContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.modal{
  width: 450px;
  height: 500px;
}

.homeName {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.addProducts {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 0px 10px 10px 10px;
  font-size: 40px;
  color: white;
  border: none;
}

.addProducts:hover{
  background-color: rgb(2, 80, 2);
}

.addProductsContainer{
  display: flex;
  justify-content: right;
  margin:0px 20px 20px 20px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  cursor: pointer;
}

.addProductButtonContainer{
  display: flex;
  justify-content: center;
}

.addProductButton{
  background-color: green;
  width: auto;
  height: auto;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}
.addProductButton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.loginAreaContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginArea{
  width: 604px;
  height: 411px;
  background: url('https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_640.png');
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginAreaTitle{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

.loginAreaText{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.loginAreaInput{
  width: 180px;
  height: 30px;
  text-align: center;
}

.loginAreaButton{
  width: 190px;
  height: 40px;
  padding: 10px;
  background-color: green;
  border: none;
  margin: 20px;
  color: white;
}

.loginAreaButton:hover{
 background-color: #015e01;
}

.inputArea{
  text-align: center;
  margin: 80px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 100px;
}